.main_box {
  background-color: rgba(255, 200, 240, 0.3);
  border-radius: 10px;
  width: 420px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18pt;
}

form {
  margin: 0;
}

input[type="number"] {
  width: 192px;
  height: 40px;
  font-size: 16pt;
}

button {
  background-color: #fff;
  width: 90px;
  height: 30px;
  margin: 0px 0px 10px 0px;
}

.data-form {
  width: 400px;
  border: 1pt solid black;
  text-align: center;
  margin: 10px auto;
}

.small-text {
  font-size: 16pt;
}

.notification {
  text-align: left;
  padding: 5px;
}
.notification h3 {
  margin: 10px 0px;
}
.notification p {
  margin: 5px;
  font-size: 12pt;
}
