.main_box { 
    background-color: #eee; 
    border-radius: 10px; 
    width:450px; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
    font-size: 18pt; 
}

form { 
    width:400px; 
    border: 1pt solid black; 
    text-align: center; 
    margin: 10px auto;
}

input[type=number] { 
    width:192px; 
    height:40px; 
    font-size: 16pt;
}

input[type=button] { 
    background-color: #fff;
    width:90px; 
    height: 30px;
    margin: 0px 0px 10px 0px;
}

.notification { 
    text-align: left; 
    padding:5px;
}
.notification h3 { 
    margin: 10px 0px; 
}
.notification p { 
    margin: 5px 0px;
    font-size: 12pt;
}